@font-face{
	font-family:Rondalo;
	src:url(../fonts/RONDALO_.TTF);
}
@font-face{
	font-family:Opificio;
	src:url(../fonts/Opificio.ttf);	
}
.container-fluid{
	font-family:Opificio;
}
body{
	background-image:url(../img/fondo.png);
	font-family:Rondalo;
}
h1{
	font-weight:bold;
}
#titulo{
	text-align:center;	
}
#titulo h1{
	font-size:70px;
	color:#666;
}
#titulo h1 a{
	color:#090;	
}
.bloque{
	text-align:center;
	padding:5%;	
}
.bloque p{
	text-align:justify;	
}
#scDenunciasRecientes{
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);	
	background-color:#FFF;
	text-align:center;
	font-family:Opificio;
	padding:5%;
}
.denuncia{
	padding:3%;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	-webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}
.denuncia:hover{
	background-color:#E5E5E5;	
}
#dvDetalleDenuncia{
	text-align:center;	
}
#IngresoUsuarios{
	text-align:center;	
}
#IngresoUsuarios input{
	text-align:center;	
}
.modal-body{
	text-align:center;
}
.modal-body input{
	text-align:center;	
	margin-top:3%;
}
#dvEditarPerfil{
	display:none;	
}
#dvSalir{
	display:none;	
}